/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
  outline: none;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

span { display: inline-block; }
::first-letter { text-transform: uppercase; }

::-webkit-input-placeholder {
  color: #777;
  text-transform: capitalize;
}

::-moz-placeholder {
  color: #777;
  text-transform: capitalize;
}

:-ms-input-placeholder {
  color: #777;
  text-transform: capitalize;
}

::-ms-input-placeholder {
  color: #777;
  text-transform: capitalize;
}

::placeholder {
  color: #777;
  text-transform: capitalize;
}

input[type] { outline: none; }

/*for wrapper*/
.wrapper {
  max-width: 1366px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/

.shopping-cart .wrapper {
  padding: 20px 30px;
  background-color: #CBE4E1;
}

.section-heading {
  color: #8D080B;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

.cart-form {
  padding: 20px 38px;
  margin: 20px 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.cart-form > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.input-group > div { position: relative; }

.input-group input {
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #666;
  font-size: 15px;
}

.input-error {
  display: block;
  position: absolute;
  color: #ff0000;
  font-size: 11px;
  opacity: 0;
  text-transform: capitalize;
  visibility: hidden;
}

.input-error.active {
  opacity: 1;
  visibility: visible;
}

.input-error::before { content: '**'; }

.input-control input,
.clear-shopping-button {
  padding: 5px 40px;
  border: none;
  border-radius: 2px;
  background-color: #8EC63E;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  text-transform: capitalize;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.input-control input:hover,
.clear-shopping-button:hover {
  background-color: #8D080B;
}

.modify-button { display: none; }
.modify-button.active { display: block; }
.display-none { display: none; }

.form-container { position: relative; }

.select-products {
  width: 100%;
  max-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  position: absolute;
  top: 110%;
  background-color: #444;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  scrollbar-width: thin;
  scrollbar-color: #111 #666;
}

.select-products.active { max-height: 150px; }

.select-products::-webkit-scrollbar {
  width: 8px;
  background-color: #666;
}

.select-products::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #111;
}

.select-products-item {
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.select-products-item.active,
.select-products-item:hover {
  background-color: #222;
}

.shopping-lists {
  padding: 25px 20px 15px;
  margin-bottom: 35px;
  background-color: #fff;
}

.lists-heading {
  color: #444;
  font-size: 24px;
  text-transform: capitalize;
}

.cart-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-title li {
  width: 16.66%;
  padding: 10px 0;
  background-color: #CFCFCF;
  color: #444;
  font-weight: 600;
  text-align: center;
}

.cart-products-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.cart-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.cart-products li {
  width: 16.66%;
  padding: 10px;
  color: #222;
  text-align: center;
  word-break: break-word;
}

.product-img img {
  max-width: 60px;
  width: 70px;
}

.product-modify span,
.product-remove span {
  padding: 5px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  opacity: .7;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.product-modify span:hover,
.product-remove span:hover {
  opacity: 1;
}

.product-modify span { background-color: #444; }
.product-remove span { background-color: #ff0000; }

.clear-shopping-button {
  opacity: .8;
  pointer-events: none;
}

.clear-shopping-button.active {
  opacity: 1;
  pointer-events: all;
}

.clear-shopping span:last-child {
  color: #444;
  font-size: 14px;
}

.clear-shopping span:last-child::before { content: '*'; }

/*=================================
  main styling ends here
=================================*/